
<h1><%= @subject.title %> (<%= @subject.code %>)</h1>

<%= link_to "Show tests for subject #{@subject.title}", tests_path(subject_id: @subject.id) %>

<%= render 'topics' %>

<%= render 'templates' %>