<p id="notice"><%= notice %></p>

<h1>Tests</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Subject</th>
      <th>Questions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.title %></td>
        <td><%#= test.subject.title if test.subject.present? %></td>
        <td><%= test.questions %></td>
        <td>
          <%= link_to test, class: 'btn btn-default' do %>
              <%= fa_icon 'info-circle', text: 'Show' %>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_test_path(test), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Destroy', test, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_test_path, class: 'btn btn-success' do %>
    <%= fa_icon 'plus', text: 'New Test' %>
<% end %>
